{% extends 'inherit_from/main.html' %} {% load crispy_forms_tags %} <br />
{% block content %} {% include 'copyfrom/navbar.html' %}
<div class="container py-5">
  <div class="row mt-5">
    <div class="mx-auto" style="width: 450px">
      <h2 class="mb-3">
        Objective
        <a
          class="fs-6 text-decoration-none"
          href="{% url 'CV-homepage' user.id %}"
          >(Back <i class="bi bi-arrow-return-left"></i>)</a
        >
      </h2>
      <form action="" method="post">
        {% csrf_token %} {{form.objective_statement|as_crispy_field}}
        <input type="submit" class="btn btn-success" value="Save" />
      </form>
    </div>
  </div>
</div>
{% include 'copyfrom/footer.html' %} {% endblock %}
