{% extends "inherit_from/main.html" %} {% load static %} {% block content %}
<title>Update Opportunity</title>{% include "copyfrom/navbar.html" %}
<hr />
{% load crispy_forms_tags %} {% include "copyfrom/alert.html" %}
<div class="container py-5">
  <div class="row mt-5">
    {% include "copyfrom/alert.html" %}
    <div class="mx-auto" style="width: 400px">
      <form action="" method="post">
        {% csrf_token %}
        <h5>Confirm Deletion</h5>
        <p>
          You are deleting "{{object.job_title}} opportunity" you recently
          uploaded on {{object.uploaded_on}}. <br />
          <input class="btn btn-danger mt-2" type="submit" value="Delete" /> |
          <a href="/" class="btn btn-info mt-2">Home</a>
        </p>
      </form>
    </div>
  </div>
</div>
{% include "copyfrom/footer.html" %} {% endblock content %}
