{% extends 'inherit_from/main.html' %} {% block content %}
<hr />
<title>Searching/Trending</title>
{% include "copyfrom/navbar.html" %}
<div class="container py-5 mt-5">
  <div class="row">
    <div class="mx-auto" style="width: 500px">
      <form action="" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input
            type="text"
            name="input_text"
            class="form-control"
            placeholder="search"
            aria-label="search"
          />
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4 class="text-success">{{comment}}</h4>
        <table class="table">
          <!-- Headings -->
          <tr class="text-success">
            <th>Name / Title</th>
            <th>Opportunity Classification</th>
            <th>Date Added</th>
            <th>Status</th>
          </tr>
          <!-- Rows -->
          {% for job_searched in object_list %}
          <tr>
            <td>
              <a
                class="text-decoration-none"
                href="{% url 'specificjob' job_searched.id %}"
                >{{job_searched.job_title}}</a
              >
            </td>
            <td>{{job_searched.Job_type}}</td>
            <td>{{job_searched.uploaded_on}}</td>
            <td>{{job_searched.status}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% include "copyfrom/footer.html" %} {% endblock content %}
