{% extends "inherit_from/main.html" %} {% load static %}{% block content %}
<title>Update Opportunity</title>{% include "copyfrom/navbar.html" %}
<hr />
{% load crispy_forms_tags %} {% include "copyfrom/alert.html" %}
<div class="container mt-5">
  <div class="row mt-5">
    {% include "copyfrom/alert.html" %}
    <div class="mx-auto" style="width: 550px">
      <h4>Update Form</h4>
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="row">{{form.Job_type|as_crispy_field}}</div>
          <div class="row">
            <div class="col-lg-6">{{form.job_title|as_crispy_field}}</div>
            <div class="col-lg-6">{{form.job_branch|as_crispy_field}}</div>
          </div>
          <div class="col-lg-6">{{form.uploaded_on|as_crispy_field}}</div>
          <div class="col-lg-6">{{form.deadline|as_crispy_field}}</div>
        </div>
        <div class="row">{{form.qualifications|as_crispy_field}}</div>
        <div class="row">{{form.description|as_crispy_field}}</div>
        <input type="submit" class="btn btn-success mb-2" value="Update Now" />
      </form>
    </div>
  </div>
</div>
{% include "copyfrom/footer.html" %} {% endblock content %}
