{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <style>
      body {
        background-color: whitesmoke;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard syntax */
      }
    </style>

    {% block content %} {% endblock %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!--Disable text highlighting-->
    <script type="text/javascript">
      document.addEventListener(
        "keydown",
        function (e) {
          if (
            e.ctrlKey &&
            (e.keyCode === 67 || e.keyCode === 86 || e.keyCode === 88)
          ) {
            e.preventDefault();
          }
        },
        false
      );
    </script>
  </body>
</html>
