{% extends 'inherit_from/main.html' %} {% load static %} {% block content %}
<title>Complete Profile</title>
{% load crispy_forms_tags %} {% include 'copyfrom/navbar.html' %}
<div class="container py-5">
  <div class="row mt-5">
    <h5>
      Other Social Media platforms
      <a
        class="text-decoration-none text-primary"
        href="{% url 'myProfile' user.id %}"
        >| back <i class="bi bi-arrow-return-left"></i
      ></a>
    </h5>
    <p class="text-muted">
      You are <strong>only</strong> required to add links to other social media
      platforms where people can reach you to see more of your work and what you
      can do...!
    </p>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-6">{{form.twitter|as_crispy_field}}</div>
        <div class="col-lg-6">{{form.you_tube|as_crispy_field}}</div>
      </div>
      <div class="row">
        <div class="col-lg-6">{{form.instagram|as_crispy_field}}</div>
        <div class="col-lg-6">{{form.linkedIn|as_crispy_field}}</div>
      </div>
      <div class="row">
        <div class="col-lg-6">{{form.git_hub|as_crispy_field}}</div>
        <div class="col-lg-6">{{form.facebook|as_crispy_field}}</div>
      </div>
      <button class="btn btn-success" type="submit">Add Now</button>
    </form>
  </div>
</div>
{% include "copyfrom/footer.html" %} {% endblock %}
