{% extends "inherit_from/main.html" %} {% load crispy_forms_tags %} <br />
{% load static %} {% block content %}
<title>Create Business Account</title>
{% load crispy_forms_tags %}
<div class="container py-5 mt-5">
  {% include "copyfrom/navbar.html" %} {% include "copyfrom/alert.html" %}
  <div class="mx-auto" style="width: 400px">
    <form action="" method="post" autocomplete="off">
      <h3 class="mb-3" style="color: green">Create Business Account</h3>
      {% csrf_token %}
      <div class="form-floating mb-3 px-2">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
        />
        <label for="floatingInput">Email</label>
      </div>

      <div class="form-floating mb-3 px-2">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="surname"
        />
        <label for="floatingInput">Company Name</label>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-floating mb-3 px-2">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              name="user_name"
            />
            <label for="floatingInput">Username</label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3 px-2">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              name="given_name"
            />
            <label for="floatingInput">Slogan</label>
          </div>
        </div>
      </div>
      <div class="form-floating mb-3 px-2">
        <input
          type="tel"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="telephone_number"
        />
        <label for="floatingInput">Contact</label>
      </div>
      <div class="form-floating mb-3 px-2">
        <input
          type="date"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="date_of_birth"
        />
        <label for="floatingInput">Has Existed Since</label>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-floating mb-3 px-2">
            <input
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              name="pass1"
            />
            <label for="floatingInput">Enter Password</label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3 px-2">
            <input
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              name="pass2"
            />
            <label for="floatingInput">Confirm Password</label>
          </div>
        </div>
      </div>
      <div class="row px-3">
        <div class="col-lg-4 col-sm-4 mb-2">
          <button type="submit" class="btn btn-success mb-3">Register</button>
        </div>
        <div class="col-lg-6 col-sm-6 mb-2">
          <a href="{% url 'signin' %}" class="text-decoration-none"
            >Already member</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
{% include 'copyfrom/footer.html' %} {% endblock %}
