{% extends "inherit_from/main.html" %} {% load static %} {% block content %}
<title>Login</title>
{% include 'copyfrom/navbar.html' %}
<div class="mx-auto py-5" style="width: 300px">
  {% include 'copyfrom/alert.html' %}
  <div class="row mt-5">
    <h3>Login</h3>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
        />
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button type="submit" class="btn btn-success mb-3">Login</button>
    </form>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-4 mb-3">
        <a href="{% url 'reset_password' %}" class="text-decoration-none"
          >Forgot Password</a
        >
      </div>
      <div class="col-lg-6 col-md-6 col-sm-4">
        <div class="dropdown">
          <a
            class="text-decoration-none dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Create an Account
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="{% url 'create_personal_account' %}"
                >For Personal Use</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'create_business_account' %}"
                >For my Business</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'copyfrom/footer.html' %} {% endblock %}
