{% extends "inherit_from/main.html" %}
<hr />
{% block content %} {% include "copyfrom/navbar.html" %}

<div class="container mt-5 py-5">
  <div class="row">
    <div class="row mb-4">
      <div class="col-lg-10">
        <h3 class="text-success">{{object.title}}</h3>
      </div>
      <div class="col-lg-2">
        <a href="{% url 'about-africonnect' %}" class="btn btn-secondary"
          >Back</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <img
          class="w-75"
          src="{{object.imageURL}}"
          alt="{{object.title}}'s Photo"
        />
      </div>
      <div class="col-lg-7">
        <div class="row mb-2">
          <h4 class="text-success">Briefly</h4>
          <p>{{object.brief_description}}</p>
        </div>
        <div class="row mb-3">
          <h4 class="text-success">In details</h4>
          <p>{{object.description_in_details}}</p>
        </div>
        <div class="row">
          <a class="btn btn-success" href="#">Check it Out</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'copyfrom/footer.html' %} {% endblock content %}
