{% extends 'inherit_from/main.html' %} {% load static %}
<hr />
{% load crispy_forms_tags %} {% block content %}
<title>Enter email to reset Password</title>
{% include 'copyfrom/navbar.html' %}
<div class="container py-5 mt-5">
  <div class="row">
    <div class="mx-auto" style="width: 450px">
      <form action="" method="post">
        {% csrf_token %}
        <h4>Reset Password</h4>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem
          officia eos eveniet quos porro, saepe nulla quasi odit et, consequatur
          esse quis optio harum minus! Quos, perferendis sit! Libero repellat
          quas quisquam! Laudantium deleniti optio modi quibusdam mollitia, odit
          autem, magnam aliquam recusandae saepe beatae voluptas, tenetur ipsa
          repellendus? Saepe.
        </p>
        {{form|crispy}}
        <input type="submit" value="Proceed" class="btn btn-success" />
      </form>
    </div>
  </div>
</div>
{% include 'copyfrom/footer.html' %} {% endblock %}
