{% extends 'inherit_from/main.html' %} {% load static %} {% block content %}
<title>My Profile</title>

{% include 'copyfrom/navbar.html' %}

<style>
  .profile_img {
    transition: all 0.3s;
  }
  .profile_img:hover {
    transform: scale(1.5);
  }
</style>

<div class="container py-5">
  <div class="row mt-5 mb-4">
    {% include "copyfrom/alert.html" %}
    <div class="col-lg-5">
      {% if user.is_superuser %}
      <a href="#" class="btn btn-light rounded">Admin Account</a>
      <a href="#" class="btn btn-light rounded"
        >{{user.given_name}} {{user.surname}}</a
      >
      {% elif user.is_personal %}
      <a href="#" class="btn btn-light rounded">Personal Account</a>
      <a href="#" class="btn btn-light rounded"
        >{{user.given_name}} {{user.surname}}</a
      >
      {% elif user.is_business %}
      <a href="#" class="btn btn-light rounded">Business Account</a>
      <a href="#" class="btn btn-light rounded">{{user.surname}}</a>
      {% endif %}
    </div>
    <div class="col-lg-7 text-end">
      {% if user.is_business %}
      <a href="{% url 'new-opportunity' user.id %}" class="btn btn-info mb-2"
        >Add Opportunity</a
      >
      {% elif user.is_superuser %}
      <a href="{% url 'new-opportunity' user.id %}" class="btn btn-info mb-2"
        ><i class="bi bi-building-add"></i> Add Opportunity</a
      >
      {% endif %} {% if user.is_business %}
      <a href="{% url 'update-profile' user.id %}" class="btn btn-info mb-2"
        ><i class="bi bi-arrow-clockwise"></i> Update Profile</a
      >
      {% else %}
      <a href="{% url 'update-profile' user.id %}" class="btn btn-info mb-2"
        ><i class="bi bi-arrow-clockwise"></i> Update Profile</a
      >
      {% endif %}
      <a href="{% url 'other-socials' user.id %}" class="btn btn-info mb-2"
        ><i class="bi bi-medium"></i> Other Media</a
      >
      <a href="#" class="btn btn-info mb-2"
        >Share <i class="bi bi-share"></i
      ></a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <img
        class="profile_img w-50 rounded"
        src="{{ user.imageURL }}"
        alt="ProfilePic"
      />
    </div>
    <div class="col-lg-5">
      <div class="row">
        <span class="mb-3 fs-5"
          >Email:
          <a class="text-decoration-none" href="mailto:{{user.email}}"
            >{{user.email}}</a
          ></span
        >
      </div>
      <div class="row mb-1">
        <span class="mb-1 fs-5">Date of Birth: {{user.date_of_birth}}</span>
      </div>
      <div class="row mb-1">
        <div class="col-lg-12">
          <span class="mb-1 fs-5">Age: {{user.age}}</span>
        </div>
        <div class="col-lg-12">
          <span class="mb-1 fs-5"
            >Physical Address: {{user.physical_address}}, {{user.country}}</span
          >
        </div>
      </div>
      <div class="row mt-3 mb-3">
        {% if user.is_business %}
        <span class="mb-2 fs-3">
          <a class="btn btn-primary" href="{% url 'about' user.id %}"
            >Outside Profile</a
          >
          <a href="#" class="btn btn-primary rounded">DownLoad License</a>
        </span>
        {% else %}
        <span class="mb-2 fs-3">
          <a class="btn btn-primary" href="{% url 'about' user.id %}"
            >Outside Profile</a
          >
          <a
            href="{% url 'CV-homepage' user.id %}"
            class="btn btn-primary rounded"
            >Design Cv</a
          >
        </span>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4">
      <h5>About {{user.surname}}</h5>
      <p>{{user.about_me}}</p>
    </div>
  </div>
  <hr />

  {% if user.is_personal %}
  <div class="row">
    <div class="col-lg-4">
      <h5>Institutions</h5>
      <ul>
        {% for inst_details in my_profile.education_background.all %}
        <li>
          {{inst_details.institution_name}} from {{inst_details.year_from}} to
          {{inst_details.year_to}}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-4">
      <h5>Valid Academic Docs</h5>
      <ul>
        {% for inst_details in my_profile.education_background.all %}
        <li>
          <p>{{inst_details.award}}</p>
          <div class="row text-center">
            <div class="col-lg-4">
              <button href="#" class="btn btn-danger mb-1">View</button>
            </div>
            <div class="col-lg-4">
              <button href="#" class="btn btn-info">Download</button>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-4">
      <h5>Other Relevant Docs</h5>
      <ul>
        {% for relevant_doc in my_profile.other_document.all %}
        <li>
          <p>{{relevant_doc.document_name}}</p>
          <div class="row text-center">
            <div class="col-lg-4">
              <button href="#" class="btn btn-danger mb-1">View</button>
            </div>
            <div class="col-lg-4">
              <button href="#" class="btn btn-info">Download</button>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% elif user.is_superuser %}
  <h1>SuperUser dis-continued</h1>
  {% else %}
  <h1>This is Company Profile</h1>
  <p>Yet to be updated</p>
  {% endif %}
</div>
{% include 'copyfrom/footer.html' %} {% endblock %}
