{% extends "inherit_from/main.html" %} {% load static %} {% block content %}
<br />
{% include 'copyfrom/navbar.html' %}
<title>Home Page</title>
<div class="container py-4 mt-5">
  {% include "copyfrom/alert.html" %}
  <div class="row mb-4">
    <div class="mx-auto" style="width: 500px">
      <div class="row">
        <div class="col-lg-12">
          <a href="#" class="text-decoration-none text-dark"
            >Important Links:
          </a>
          <a class="text-decoration-none" href="{% url 'searching' %}"
            >Trending |</a
          >
          <a class="text-decoration-none" href="#">Recently Added |</a>
          <a class="text-decoration-none" href="{% url 'searching' %}"
            >Search</a
          >
        </div>
      </div>
    </div>
  </div>
  {% for oppo in object_list.all %}
  <div class="row mb-2">
    <div class="col-1">
      <img
        class="rounded-pill border border-primary"
        style="width: 50px"
        src="{{ oppo.uploaded_by.imageURL }}"
        alt="Logo"
      />
    </div>
    <div class="col-sm-11 col-md-11 col-lg-9 px-5">
      <div class="row">
        {% if oppo.uploaded_by.is_business %}
        <h5>
          <a
            href="{% url 'about' oppo.uploaded_by.id %}"
            class="text-decoration-none text-success"
            >{{oppo.uploaded_by.surname}}</a
          >
          {% if oppo.uploaded_by.is_verified %}
          <i class="bi bi-patch-check-fill text-primary fs-6"></i>
          {% else %}
          <i class="bi bi-x-circle-fill text-danger"></i>
          {% endif %}
          <br />
          <a
            class="text-decoration-none text-secondary"
            href="#"
            style="
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
                sans-serif;
            "
          >
            {{oppo.uploaded_by.given_name}}
          </a>
        </h5>
        {% else %}
        <h5>
          <a
            href="{% url 'about' oppo.uploaded_by.id %}"
            class="text-decoration-none text-success"
            >{{oppo.uploaded_by.surname}} {{oppo.uploaded_by.given_name}}</a
          >
          {% if oppo.uploaded_by.is_verified %}
          <i class="bi bi-patch-check-fill text-primary fs-6"></i>
          {% else %}
          <i class="bi bi-x-circle-fill text-danger fs-6"></i>
          {% endif %}
        </h5>
        {% endif %}
        <div class="col-lg-4">Uploaded: {{oppo.uploaded_on}}</div>
        <div class="col-lg-4">Expiry: {{oppo.deadline}}</div>
        <div class="col-lg-4">
          Status: {% if oppo.status == 'Still Open' %}
          <span class="text-success"><strong>{{oppo.status}}</strong></span>
          {% else %}
          <span class="text-danger"><strong>{{oppo.status}}</strong></span>
          {% endif %}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-4">
          Title:
          <h6>{{oppo.job_title}}</h6>
        </div>
        <div class="col-lg-4">
          Form:
          <h6>{{oppo.Job_type}}</h6>
        </div>
        <div class="col-lg-4">
          Location:
          <h6><i class="bi bi-geo-alt"></i> {{oppo.job_branch}}</h6>
        </div>
      </div>
      <p class="text-muted">{{oppo.description}}</p>
      {% if oppo.status == 'Still Open' %}
      <a href="{% url 'specificjob' oppo.id %}" class="btn btn-success mb-4"
        >See More</a
      >
      {% else %}
      <a
        href="{% url 'specificjob' oppo.id %}"
        class="btn btn-success mb-4 disabled"
        >Closed</a
      >
      {% endif %}
      <!--This Edit Section-->
      {% if user.id == oppo.uploaded_by.id %}
      <div class="row">
        <p>
          |<a
            href="{% url 'update-opportunity' oppo.id %}"
            class="text-decoration-none"
            >Edit/Update</a
          >| |<a
            href="{% url 'delete-opportunity' oppo.id %}"
            class="text-decoration-none"
            >Delete</a
          >|
        </p>
      </div>
      {% endif %}
      <!--This Edit/delete Section ends here-->
    </div>
    {% endfor %}
  </div>

  <div class="mx-auto text-center mb-3" style="width: 500px">
    <p>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
    <hr />
    <div class="btn-group" role="group" aria-label="Basic example">
      {% if page_obj.has_previous %}
      <a
        href="?page={{ page_obj.previous_page_number }}"
        type="button"
        class="btn btn-outline-success"
        >Previous</a
      >
      <a href="?page = 1" type="button" class="btn btn-outline-success">1</a>
      <a
        href="?page={{ page_obj.paginator.num_pages }}"
        type="button"
        class="btn btn-outline-success"
        >Last</a
      >

      {% endif %} {% if page_obj.has_next %}
      <a href="?page = 1" type="button" class="btn btn-outline-success">1</a>
      <a
        href="?page={{ page_obj.next_page_number }}"
        type="button"
        class="btn btn-outline-success"
        >Next</a
      >
      <a
        href="?page={{ page_obj.paginator.num_pages }}"
        type="button"
        class="btn btn-outline-success"
        >Last</a
      >
      {% endif %}
    </div>
  </div>
</div>
{% include 'copyfrom/footer.html' %} {% endblock %}
