{% load static %}

<style>
  li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    margin: auto;
    display: block;
  }

  li a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
    margin-top: 8px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-warning bg-success px-2 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img
        class="rounded-pill"
        style="width: 40px"
        src="{% static 'app_images/logo.jpg' %}"
        alt="Logo"
      />
      Better Future
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"
            ><i class="bi bi-house"></i> Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about-africonnect' %}"
            ><i class="bi bi-bar-chart-steps"></i> About Us</a
          >
        </li>
        <li class="nav-item ms-lg-2">
          <a class="nav-link" href="{% url 'myProfile' user.pk %}"
            ><i class="bi bi-person-circle"></i> Profile</a
          >
        </li>
        <!--Settings-->
        <li class="nav-item ms-lg-2 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-sliders2-vertical"></i> Settings
          </a>
          <ul class="dropdown-menu bg-success">
            <li>
              <a class="dropdown-item" href="{% url 'change-password' %}"
                ><i class="bi bi-pass"></i> Change Password</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-file-lock"></i> Privacy</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-box"></i> Storage and data</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-question-circle"></i> Help</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-calendar-event"></i> Invite a friend</a
              >
            </li>
          </ul>
        </li>
        <!--Ends Here-->
        <li class="nav-item ms-lg-2">
          <a class="nav-link" href="{% url 'signout' %}"
            ><i class="bi bi-box-arrow-left"></i> Logout</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"
            ><i class="bi bi-house"></i> Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about-africonnect' %}"
            ><i class="bi bi-bar-chart-steps"></i> About Us</a
          >
        </li>

        <li class="nav-item ms-lg-2">
          <a class="nav-link" href="{% url 'signin' %}"
            ><i class="bi bi-box-arrow-in-right"></i> Login</a
          >
        </li>
        <li class="nav-item ms-lg-2 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-r-circle-fill"></i> Register
          </a>
          <ul class="dropdown-menu bg-success">
            <li>
              <a
                class="dropdown-item"
                href="{% url 'create_personal_account' %}"
                ><i class="bi bi-person-badge"></i> Personal</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'create_business_account' %}"
                ><i class="bi bi-briefcase"></i> Business</a
              >
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
