<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">
          Terms and Conditons
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h5 class="text-success">Personal Data</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
            tenetur nam, quae esse est mollitia perferendis quas maxime corporis
            ducimus
          </p>
        </div>
        <div class="row">
          <h5 class="text-success">Rights</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
            tenetur nam, quae esse est mollitia perferendis quas maxime corporis
            ducimus delectus unde assumenda ullam fugiat magnam qui hic quo
            dignissimos.
          </p>
        </div>
        <div class="row">
          <h5 class="text-success">Security</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
            tenetur nam, quae esse est mollitia perferendis quas maxime corporis
            ducimus delectus unde assumenda ullam fugiat magnam qui hic quo
            dignissimos.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
