{% load crispy_forms_tags %}
<div class="row bg-success text-light px-5 py-4">
  <div class="col-lg-6 col-sm-12 col-md-4">
    <h5 class="fs-3">Location and Address</h5>
    <div class="row text-dark">
      <div class="col-5">
        <p class="fs-6"><strong>Business Tel.No:</strong></p>
        <p class="fs-6"><strong>Streeet Number:</strong></p>
        <p class="fs-6"><strong>District:</strong></p>
        <p class="fs-6"><strong>Block:</strong></p>
      </div>
      <div class="col-6">
        <p class="fs-6"><strong>+256 77834 9060</strong></p>
        <p class="fs-6"><strong>7th Street, Plot 5</strong></p>
        <p class="fs-6"><strong>Kampala District</strong></p>
        <p class="fs-6"><strong>Central Division</strong></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-12 col-md-4">
    <h5 class="fs-3">Follow Us</h5>
    <ul class="text-dark">
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>GitHub</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>Facebook</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>Twitter</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>YouTube</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>Instagram</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>LinkedIn</strong></a
        >
      </li>
    </ul>
  </div>
  <div class="col-lg-3 col-sm-12 col-md-4">
    <h5 class="fs-3">More</h5>
    <ul class="text-dark">
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>Settings</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>Tools</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>Privacy</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>Developers</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>Subscribers</strong></a
        >
      </li>
      <li>
        <a href="#" class="text-dark text-decoration-none"
          ><strong>Community</strong></a
        >
      </li>
    </ul>
  </div>
  <hr />
  <p class="text-center">AfriConnect Uganda Limited</p>
</div>
