{% extends 'inherit_from/main.html' %}{% load crispy_forms_tags %} <br />
{% block content %} {% include 'copyfrom/navbar.html' %}
<div class="container py-5">
  <div class="row mt-5">
    <div class="mx-auto" style="width: 450px">
      <h2 class="mb-3">
        Education Background
        <a
          class="fs-6 text-decoration-none"
          href="{% url 'CV-homepage' user.id %}"
          >(Back)</a
        >
      </h2>
      <form action="" method="post">
        {% csrf_token %} {{form.institution_name|as_crispy_field}}
        <div class="row">
          <div class="col-lg-6">{{form.year_from|as_crispy_field}}</div>
          <div class="col-lg-6">{{form.year_to|as_crispy_field}}</div>
        </div>
        {{form.award|as_crispy_field}} {{form.copy_of_document|as_crispy_field}}
        <input type="submit" class="btn btn-success" value="Save" />
      </form>
    </div>
  </div>
</div>
{% include 'copyfrom/footer.html' %} {% endblock %}
